name: Parent Workflow

on:
  workflow_dispatch:
    inputs:
      user_name:
        description: "Nom de l'utilisateur"
        required: true
        default: "Charlie"
      moment:
        description: "Moment de la journée (morning, evening, day)"
        required: false
        default: "day"

jobs:
  call-child:
    uses: ./.github/workflows/child.yml
    with:
      name: ${{ inputs.user_name }}
      time: ${{ inputs.moment }}

  display-output:
    runs-on: ubuntu-latest
    needs: call-child
    steps:
      - run: 'echo "Le workflow enfant a renvoyé : ${{ needs.call-child.outputs.greeting-message }}"'
      
  cleanup:
    runs-on: ubuntu-latest
    needs: call-child
    steps:
      - run: echo "Cleaning up after the greeting..."

